* {
	margin: 0;
	padding: 0;
}
#accordion .wrapper {
	width: 540px;
	margin: 10px auto;
	border: 1px solid #ccc;
	border-radius: 3px;
}
#accordion label{
	font-size: 18px;
	line-height: 30px;
	padding: 0 10px;
	background-color: #eee;
	display: block;
}
#accordion label:hover, #accordion input[name="panel"]:checked + label{
	text-decoration: underline;
}
#accordion input[name="panel"] {
	display: none;
}
#accordion p {
	height: 0;
	padding: 0 10px;
	overflow: hidden;
	transition: all 1s;
	box-sizing: border-box;
}
#accordion input[name="panel"]:checked ~ p{
	height: 50px;
	padding: 15px 10px;
}