* {
	margin: 0;
	padding: 0;
}
#in {
	width: 50%;
	height: 100%;
	outline: none;
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas';
	font-size: 14px;
	color: #fff;
	background-color: #333;
	resize:none;
	float: left;
}
#out {
	width: 50%;
	height: 100%;
	float: left;
	overflow: auto;
	box-sizing: border-box;
}
blockquote {
	border-left: 7px solid #999;
    padding-left: 10px;
    background-color: #ddd;
}