body {
	margin: 0;
	padding: 0;
}
#slider {
	perspective: 800px;
}
.wrapper {
	width: 300px;
    height: 300px;
    margin-left: -100px; 
    position: absolute;
    left: 50%;
    transition: all 1s;
	transform-style: preserve-3d;
}
.image {
	width: 300px;
	height: 200px;
	position: absolute;
	top:50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	display: block;
}
.wrapper > img:nth-child(1) { 
	transform: rotateY(0deg) translateZ(300px); 
}
.wrapper > img:nth-child(2) { 
	transform: rotateY(60deg) translateZ(300px); 
}
.wrapper > img:nth-child(3) { 
	transform: rotateY(120deg) translateZ(300px); 
}
.wrapper > img:nth-child(4) { 
	transform: rotateY(180deg) translateZ(300px); 
}
.wrapper > img:nth-child(5) { 
	transform: rotateY(240deg) translateZ(300px); 
}
img:nth-child(6) { 
	transform: rotateY(300deg) translateZ(300px); 
}